apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: core-services-helm
  namespace: argocd
spec:
  # When an app is removed from this list, also delete its resources
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
    - list:
        elements:
          # - name: technitium
          #   project: networking
          #   namespace: technitium
          #   chartRepo: https://jcampos2907.github.io/charts
          #   chart: technitium-dns
          #   chartVersion: 0.4.0
          #   valuesPath: technitium/values.yaml
          #   extraPath: technitium
          - name: tailscale-operator
            project: networking
            namespace: tailscale
            chartRepo: https://pkgs.tailscale.com/helmcharts
            chart: tailscale-operator
            chartVersion: 1.90.9
            valuesPath: tailscale/values.yaml
            extraPath: tailscale
          - name: kube-stack
            project: observability
            namespace: monitoring
            chartRepo: https://prometheus-community.github.io/helm-charts
            chart: kube-prometheus-stack
            chartVersion: 79.7.1
            valuesPath: observability-stack/kube-prometheus/values.yaml
            extraPath: observability-stack/kube-prometheus

          # - name: smartctl
          #   project: observability
          #   namespace: monitoring
          #   chartRepo: https://prometheus-community.github.io/helm-charts
          #   chart: prometheus-smartctl-exporter
          #   chartVersion: 0.16.0
          #   valuesPath: observability-stack/smartctl/values.yaml
          # extraPath: observability-stack/smartctl
          - name: cert-manager
            project: data-services
            namespace: cert-manager
            chartRepo: https://charts.jetstack.io
            chart: cert-manager
            chartVersion: 1.19.1
            valuesPath: cert-manager/values.yaml
            extraPath: cert-manager

          - name: jenkins
            project: apps
            namespace: jenkins
            chartRepo: https://charts.jenkins.io
            chart: jenkins
            chartVersion: 5.8.116
            valuesPath: jenkins/values.yaml
            extraPath: jenkins
          # - name: reloader
          #   project: core
          #   namespace: default
          #   chartRepo: https://stakater.github.io/stakater-charts
          #   chart: reloader
          #   chartVersion: 2.2.5
          #   valuesPath: reloader/values.yaml
          #   extraPath: reloader

          - name: oauth2
            project: core
            namespace: oauth2
            chartRepo: https://oauth2-proxy.github.io/manifests
            chart: oauth2-proxy
            chartVersion: 9.0.0
            valuesPath: oauth2-proxy/values.yaml
            extraPath: oauth2-proxy

          - name: cnpg
            project: data-services
            namespace: cnpg-system
            chartRepo: https://cloudnative-pg.github.io/charts
            chartVersion: 0.26.1
            chart: cloudnative-pg
            valuesPath: cloudnativepg/operator/values.yaml
            extraPath: cloudnativepg/operator

          # - name: pihole
          #   project: networking
          #   namespace: pihole
          #   chartRepo: https://jcampos2907.github.io/charts
          #   chartVersion: 0.2.0
          #   chart: pihole
          #   valuesPath: pihole/values.yaml
          #   extraPath: pihole

          - name: n8n
            project: data-services
            namespace: n8n
            chartRepo: oci://8gears.container-registry.com/library/n8n
            chart: n8n
            chartVersion: 2.0.1
            valuesPath: n8n/values.yaml
            extraPath: n8n

          - name: traefik
            project: networking
            namespace: traefik
            chartRepo: https://traefik.github.io/charts
            chart: traefik
            chartVersion: 37.3.0
            valuesPath: traefik/values.yaml
            extraPath: traefik

          - name: openbao
            project: core
            namespace: openbao
            chartRepo: https://openbao.github.io/openbao-helm
            chart: openbao
            chartVersion: 0.21.0
            valuesPath: openbao/vault/values.yaml
            extraPath: openbao

          # - name: vault
          #   project: data-services
          #   namespace: hashicorp
          #   chartRepo: https://helm.releases.hashicorp.com
          #   chart: vault
          #   chartVersion: 0.30.0
          #   valuesPath: hashicorp/vault/values.yaml
          #   extraPath: hashicorp

  template:
    metadata:
      name: "{{name}}"
      namespace: argocd
    spec:
      project: "{{project}}"

      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"

      # MULTI-SOURCE, just like your current apps
      sources:
        # 1) Your homelab repo with values + extra manifests
        - repoURL: https://github.com/jcampos2907/homelab.git
          targetRevision: main
          ref: values
          path: "{{extraPath}}"
          directory:
            recurse: true
            exclude: "{excluded/**}"

        # 2) Helm chart from remote repo
        - repoURL: "{{chartRepo}}"
          chart: "{{chart}}"
          targetRevision: "{{chartVersion}}"
          helm:
            valueFiles:
              - $values/{{valuesPath}}

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true

      # Safe to leave here: it only affects a resource that exists in vault installs
      ignoreDifferences:
        # - group: postgresql.cnpg.io
        #   kind: Cluster
        #   jsonPointers:
        #     - /spec/resources/limits/cpu
        #     - /spec/plugins/0/enabled
        - group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          name: vault-agent-injector-cfg
          jsonPointers:
            - /webhooks/0/clientConfig/caBundle
