apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: user-apps
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  # When an app is removed from this list, also delete its resources
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
    - list:
        elements:
          # - name: openwebui
          #   project: apps
          #   namespace: openwebui
          #   chartRepo: https://open-webui.github.io/helm-charts
          #   chart: open-webui
          #   chartVersion: 12.3.0
          #   valuesPath: openwebui/values.yaml
          #   extraPath: openwebui
          - name: arrstack
            project: apps
            namespace: arrstack
            chartRepo: https://charts.kubito.dev
            chart: servarr
            chartVersion: 1.2.3
            valuesPath: arrstack/values.yaml
            extraPath: "arrstack"

  template:
    metadata:
      name: "{{name}}"
      namespace: argocd
    spec:
      project: "{{project}}"

      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"

      # MULTI-SOURCE, just like your current apps
      sources:
        # 1) Your homelab repo with values + extra manifests
        - repoURL: https://github.com/jcampos2907/homelab.git
          targetRevision: main
          ref: values
          path: "{{extraPath}}"
          directory:
            recurse: true
            exclude: "{excluded/**}"

        # 2) Helm chart from remote repo
        - repoURL: "{{chartRepo}}"
          chart: "{{chart}}"
          targetRevision: "{{chartVersion}}"
          helm:
            valueFiles:
              - $values/{{valuesPath}}

      syncPolicy:
        automated:
          prune: true
          selfHeal: false
