apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: user-apps
  namespace: argocd
spec:
  # When an app is removed from this list, also delete its resources
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
    - list:
        elements:
          - name: arrstack
            project: apps
            namespace: arrstack
            chartRepo: https://charts.kubito.dev
            chart: kubitodev/servarr
            chartVersion: 1.2.3
            valuesPath: arrstack/values.yaml

  template:
    metadata:
      name: "{{name}}"
      namespace: argocd
    spec:
      project: "{{project}}"

      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"

      # MULTI-SOURCE, just like your current apps
      sources:
        # 1) Your homelab repo with values + extra manifests
        - repoURL: https://github.com/jcampos2907/homelab.git
          targetRevision: main
          ref: values
          path: "{{extraPath}}"
          directory:
            recurse: true
            exclude: "{excluded/**}"

        # 2) Helm chart from remote repo
        - repoURL: "{{chartRepo}}"
          chart: "{{chart}}"
          targetRevision: "{{chartVersion}}"
          helm:
            valueFiles:
              - $values/{{valuesPath}}

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
