---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  namespace: monitoring
  name: vault-grafana-oidc
spec:
  vaultAuthRef: vault-auth
  rolloutRestartTargets:
    - kind: Deployment
      name: kube-stack-grafana
  mount: kv
  type: kv-v2
  path: apps/grafana
  refreshAfter: 60s
  destination:
    create: true
    name: grafana-oidc

---

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultDynamicSecret
metadata:
  namespace: monitoring
  name: grafana-db
spec:
  vaultAuthRef: vault-auth
  rolloutRestartTargets:
    - kind: Deployment
      name: kube-stack-grafana
  mount: database
  path: creds/grafana-dynamic
  destination:
    create: true
    name: grafana-db

  

    
