---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  namespace: monitoring
  name: vault-grafana-oidc
spec:
  vaultAuthRef: vault-auth
  mount: kv
  type: kv-v2
  path: apps/grafana
  refreshAfter: 60s
  destination:
    create: true
    name: grafana-oidc
  

    
