apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - sa.yaml
  - vault-auth.yaml
  - vault-secrets.yaml

patches:
  - target:
      kind: ConfigMap
      name: argocd-cm
      namespace: argocd
    patch: |-
      - op: add
        path: /data/url
        value: https://argocd.famcr.org
      - op: add
        path: /data/oidc.config
        value: |
          name: Keycloak
          issuer: https://keycloak.famcr.org/realms/master
          clientID: argocd
          clientSecret: $argocd-secret-patch:oidc.keycloak.clientSecret
          requestedScopes: ["openid", "profile", "email"]