apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - sa.yaml
  - vault-auth.yaml
  - vault-secrets.yaml

patches:
  - path: patch-argocd-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-cm
      namespace: argocd