apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - sa.yaml
  - vault-auth.yaml
  - vault-secrets.yaml

patches:
  # --- argocd-cm OIDC + URL ---
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-cm
      namespace: argocd
    patch: |-
      - op: add
        path: /data/url
        value: https://argocd.famcr.org
      - op: add
        path: /data/oidc.config
        value: |
          name: Keycloak
          issuer: https://keycloak.famcr.org/realms/master
          clientID: argocd
          clientSecret: $argocd-secret-patch:oidc.keycloak.clientSecret
          requestedScopes: ["openid", "profile", "email", "groups"]

  # --- RBAC policy.csv ---
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-rbac-cm
      namespace: argocd
    patch: |-
      - op: add
        path: /data/policy.csv
        value: |
          p, role:admin, applications, *, */*, allow
          p, role:admin, projects, *, *, allow
          p, role:admin, clusters, *, *, allow
          p, role:admin, repositories, *, *, allow
          p, role:admin, accounts, *, *, allow
          p, role:admin, certificates, *, *, allow
          p, role:admin, gpgkeys, *, *, allow
          p, role:admin, logs, get, */*, allow
          p, role:admin, exec, create, */*, allow
          g, admin, role:admin

          # --- Jenkins: ALL apps ---
          p, role:jenkins, applications, get, */*, allow
          p, role:jenkins, applications, sync, */*, allow
          p, role:jenkins, applications, action/*, */*, allow
          g, jenkins, role:jenkins

          g, ArgoCDAdmins, role:admin
