controller:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    hostName:  jenkins.famcr.org
    tls:
      - secretName: jenkins-certificate-secret
        hostName:
          - jenkins.famcr.org