agent:
  enabled: true
  namespace: jenkins
  customJenkinsLabels:
    - "k8s-agent"
persistence:
  enabled: true

controller:
  additionalPlugins:
    - github-branch-source:1917.v9ee8a_39b_3d0d
    - oic-auth:4.609.v9de140f63d01
    - hashicorp-vault-plugin:371.v884a_4dd60fb_6

  jenkinsUrl: "https://jenkins.famcr.org"

  admin:
    password: "adminpassword123"

  ingress:
    enabled: false



  JCasC:
    defaultConfig: true   # <- recommended
    configScripts:
      # authorization: |-
      #     jenkins:
      #       authorizationStrategy:
      #         loggedInUsersCanDoAnything:
      #           allowAnonymousRead: false

      vault-runtime: |-
        unclassified:
          hashicorpVault:
            configuration:
              vaultCredentialId: "vault-k8s"
              vaultUrl: "${CASC_VAULT_URL}"

        credentials:
          system:
            domainCredentials:
              - credentials:
                  - vaultKubernetesCredential:
                      id: "vault-k8s"
                      description: "Vault k8s auth for runtime"
                      scope: GLOBAL
                      role: "${CASC_VAULT_KUBERNETES_ROLE}"

      github-creds: |-
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - usernamePassword:
                      id: "github-pat"
                      description: "GitHub PAT (used as password) for Jenkins pipelines"
                      scope: GLOBAL
                      username: "${github_user}"
                      password: "${github_pat}"

      security-realm: |-
        jenkins:
          securityRealm:
            oic:
              serverConfiguration:
                wellKnown:
                  wellKnownOpenIDConfigurationUrl: "https://keycloak.famcr.org/realms/master/.well-known/openid-configuration"
                  scopesOverride: "openid profile email"
              clientId: "jenkins"
              clientSecret: "${clientSecret}"
              userNameField: "preferred_username"
              userIdStrategy: "caseSensitive"
              groupIdStrategy: "caseSensitive"
              fullNameFieldName: "name"
              emailFieldName: "email"
              logoutFromOpenidProvider: false

  containerEnv:
    - name: CASC_VAULT_URL
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: CASC_VAULT_URL

    - name: CASC_VAULT_PATHS
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: CASC_VAULT_PATHS

    - name: CASC_VAULT_ENGINE_VERSION
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: CASC_VAULT_ENGINE_VERSION

    - name: CASC_VAULT_KUBERNETES_ROLE
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: CASC_VAULT_KUBERNETES_ROLE

    - name: clientSecret
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: clientSecret

    - name: github_user
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: github_user
    - name: github_pat
      valueFrom:
        secretKeyRef:
          name: jenkins-oidc
          key: github_pat
