agent:
  enabled: true
  namespace: jenkins
  # jenkinsUrl: "http://jenkins.jenkins.svc.cluster.local:8080"
  customJenkinsLabels:
    - "k8s-agent"
controller:
  jenkinsUrl: "https://jenkins.famcr.org"
  admin:
    password: "adminpassword123"  # Change this to a secure password
  ingress:
    enabled: false
  # ingress:
  #   enabled: true
  #   annotations:
  #     kubernetes.io/ingress.class: traefik
  #   hostName:  jenkins.famcr.org
  #   tls:
  #     - secretName: jenkins-certificate-secret
  #       hostName:
  #         - jenkins.famcr.org