architecture: replication

auth:
  enabled: true
  existingSecret: redis-auth
  existingSecretPasswordKey: redis-password

sentinel:
  service:
    createMaster: true
  enabled: true
  masterSet: homelabredis
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 128Mi
replica:
  automountServiceAccountToken: true
  replicaCount: 3
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi
  persistence:
    enabled: true
    storageClass: longhorn
    size: 5Gi
  pdb:
    create: true
    minAvailable: 2

serviceAccount:
  create: true

rbac:
  create: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
