architecture: replication

auth:
  enabled: true
  existingSecret: redis-auth
  existingSecretPasswordKey: redis-password

sentinel:
  enabled: true
  masterSet: homelabredis
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 128Mi

replica:
  replicaCount: 3
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi
  persistence:
    enabled: true
    storageClass: longhorn
    size: 5Gi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

pdb:
  create: true
  minAvailable: 2
